<html>
  <head>
    <title>llimllib's journal</title>
<style>
body {
  font-family: Georgia, 'Nimbus Roman No9 L', 'Century Schoolbook L', serif;
  font-size: 26px;
  line-height: 1.45;
  color: black;
  margin-bottom: 200px;
}
.center {
  display: block;
  box-sizing: border-box;
  max-width: 800px;
  margin: auto;
}
img {
  width: 100%;
  height: auto;
}
.post {
  margin-top: 50px;
  margin-bottom: 100px;
}
.hr {
  width: 25%;
  border-top: 1px solid rgba(0,0,0,.3);
  margin: auto;
}
</style>
  </head>
  <body>
    <div class="center">
      {{range $i, $post := .Posts}}
      {{if $i}}
      <div class="hr"></div>
      {{end}}
      <div class="post">
        {{if eq .Typ "quote"}}
        <blockquote>
          {{.QuoteBody}}
        </blockquote>
        <div>
          - {{.QuoteSource}} </div>
        {{else if eq .Typ "photo"}}
        <div>
          <img src="{{.BiggestImage}}" />
        </div>
        <div>
          {{.PhotoCaption}}
        </div>
        <div>
          {{.PhotoLink}}
        </div>
        {{else if eq .Typ "link"}}
        <div>
          <a href="{{.LinkURL}}">{{.LinkText}}</a>
        </div>
        <div>
          {{.LinkDesc}}
        </div>
        {{end}}
      </div>
      {{end}}
      <a href="?page={{.NextPage}}">next</a>
    </div>
  </body>
</html>
