<html>
  <head>
    <title>llimllib's journal</title>
  </head>
  <body>
    <ul>
    {{range .Posts}}
    <div>
      {{if eq .Typ "quote"}}
      <blockquote>
        {{.QuoteBody}}
      </blockquote>
      <div>
        - {{.QuoteSource}}
      </div>
      {{else if eq .Typ "photo"}}
        <div>
          <img src="{{.BiggestImage}}" />
        </div>
        </div>
        <div>
          {{.PhotoCaption}}
        </div>
        <div>
          {{.PhotoLink}}
        </div>
      {{end}}
    </div>
    {{end}}
    </ul>
  </body>
</html>
